<div id="ocn-callback">
  {# Button #}
  <a id="ocn-callback-show" class="ocn-callback-show" data-toggle="modal" data-target="#ocn-callback-modal" href="#ocn-callback-modal">
    <i class="fa fa-phone fa-3x" data-toggle="tooltip" data-placement="left" title="{{ button_callback }}"></i>
  </a>

  {# Modal #}
  {{ view_modal }}

  {# Alerts #}
  {{ view_alert }}
</div>
